@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Joan&family=Junge&display=swap');
body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #171717;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}
.header img {
    width: 120px;
    margin-left: 30px;   
}
nav {
    padding: 5px;
    text-align: center;
    top: 0;
}
nav li {
    display: inline;
    margin: 0px 30px;
    font-size: 15px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    font-weight: bold;
}

.dropbtn {
    background-color: #171717;
    color: white;
    font-size: 15px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    font-weight: bold;
}

main {
    padding: 20px;
    overflow: auto;
}
.featured-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 350px;
}
#content {
    float: left;
    width: 75%;
}
aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}
aside header {
    text-align: center;
}
figure img {
    width: 200px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;
}

footer {
    font-size: 20px;
    background-color: #171717;
    padding: 10px;
    color: white;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    #content, aside {
       width: 100%;
       padding: 0;
    }
}